.live_chat{
    position: fixed !important;
    background-color: #353535 !important;
    bottom: 5vh;
    right:5vh;
    padding: 10px;
    border-radius: 50% !important;
    z-index: 10;
}
.live_chat >i{
    font-size: 40px;
    color: white;
}