
.card_product{
    border: 0 !important;
    animation-name: show;
    animation-duration: 1s;
}
.card_product >img:hover{
    opacity: 0.6;
}
/* animation when load page*/
@keyframes show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
  }


/* 
text */
.title{
    margin-top: 16px !important;
    text-align: center;
}
.link{
    text-decoration: none;
    color: black !important;
    background-color: transparent !important;   
    border: 0 !important; 
}
.link:focus{
    box-shadow: none !important;
}

.price{
    text-align: center;
}
/* end */