.categories{

}
.title{
    font-weight: bold !important;
    margin-bottom: 20px !important;
}
.brand{
    background-color: #0f100d;
    color: white;
    padding: 15px 20px !important;
}
.tag, .link{
    padding: 15px 20px !important;
}
.tag{
    font-weight: bold !important;
}
.link > a{
    text-decoration: none;
    color: black;
}
